## Code for PBR data overview

In [140]:
#import libraries
import numpy as np
import pandas as pd
import os
import re
from datetime import date
import sys

# to avoid warning during executions
import warnings    
warnings.filterwarnings("ignore")

In [141]:
# load all the file names into a list (files in the pbr data folder)
os.getcwd()
_dir_path = '../../../dataExport/PBRdata'
raw_data = os.listdir(_dir_path)
raw_data

['_10_FPC23_Rhosa.csv',
 '_11_FPC24_SkeMa_1.csv',
 '_12_FPC24_SkeMa_2.csv',
 '_1_FPC13_ChCal_1.csv',
 '_2_FPC13_ChCal_2.csv',
 '_3_FPC13_ThalaPs.csv',
 '_4_FPC14_chamu.csv',
 '_5_FPC14_RhoSa.csv',
 '_6_FPC14_thalaps.csv',
 '_7_FPC21_chamu.csv',
 '_8_FPC21_Techu.csv',
 '_9_FPC22_DiaLut.csv']

In [142]:
# join file name with path - file name can be specified as list item based on required file name
filename=  os.path.join(_dir_path, raw_data[3])
filename

'../../../dataExport/PBRdata\\_1_FPC13_ChCal_1.csv'

In [143]:
trial_no = re.findall(r'\d+', filename)
trial_no = int(trial_no[0])
trial_no

1

In [147]:
# load the selected file into the data frame.
pbr_rawDF = pd.read_csv(filename, sep=',')
pbr_rawDF.head(5)

,primary_key,_timeString,unit,FT1,FT2,PT1_V4,PT2,FT3,CO2in,CO2_V2,...,QT,QC,QB,QR,QG,QT_corr,TT0,TT1,pH,C_PAR
0,1629468000,2021-8-20 16:0:0,FPC13,0.0,20.3,87.4364,115.5517,0.0,0.04,0.2703,...,76.4022,0.3467,0.0977,0.1338,0.0977,-165.7484,20.5091,19.556,14.9008,0.0
1,1629468005,2021-8-20 16:0:5,FPC13,0.0,20.3158,87.6113,114.9015,0.0,0.04,0.2703,...,76.4022,0.3466,0.0977,0.1335,0.0977,-165.7484,20.5091,19.5481,14.9008,0.0
2,1629468010,2021-8-20 16:0:10,FPC13,0.0,20.3041,87.3263,115.4681,0.0,0.04,0.2703,...,76.4022,0.3466,0.0977,0.1332,0.0977,-165.7484,20.5201,19.6102,14.9008,0.0
3,1629468015,2021-8-20 16:0:15,FPC13,0.0,20.3159,87.2076,115.3525,0.0,0.04,0.2703,...,76.4022,0.3469,0.0977,0.1324,0.0977,-165.7484,20.5091,19.5792,14.9008,0.0
4,1629468020,2021-8-20 16:0:20,FPC13,0.0,20.3044,87.241,115.2204,0.0,0.04,0.2703,...,76.4022,0.3473,0.0977,0.1318,0.0977,-165.7484,20.5121,19.6156,14.9008,0.0

In [148]:
pbr_rawDF.insert(loc=0, column='trial_no', value=trial_no)

In [150]:
pbr_rawDF.head(5)

,trial_no,primary_key,_timeString,unit,FT1,FT2,PT1_V4,PT2,FT3,CO2in,...,QT,QC,QB,QR,QG,QT_corr,TT0,TT1,pH,C_PAR
0,1,1629468000,2021-8-20 16:0:0,FPC13,0.0,20.3,87.4364,115.5517,0.0,0.04,...,76.4022,0.3467,0.0977,0.1338,0.0977,-165.7484,20.5091,19.556,14.9008,0.0
1,1,1629468005,2021-8-20 16:0:5,FPC13,0.0,20.3158,87.6113,114.9015,0.0,0.04,...,76.4022,0.3466,0.0977,0.1335,0.0977,-165.7484,20.5091,19.5481,14.9008,0.0
2,1,1629468010,2021-8-20 16:0:10,FPC13,0.0,20.3041,87.3263,115.4681,0.0,0.04,...,76.4022,0.3466,0.0977,0.1332,0.0977,-165.7484,20.5201,19.6102,14.9008,0.0
3,1,1629468015,2021-8-20 16:0:15,FPC13,0.0,20.3159,87.2076,115.3525,0.0,0.04,...,76.4022,0.3469,0.0977,0.1324,0.0977,-165.7484,20.5091,19.5792,14.9008,0.0
4,1,1629468020,2021-8-20 16:0:20,FPC13,0.0,20.3044,87.241,115.2204,0.0,0.04,...,76.4022,0.3473,0.0977,0.1318,0.0977,-165.7484,20.5121,19.6156,14.9008,0.0

In [151]:
pbr_rawDF.columns[3]

'unit'

In [119]:
#df.rename(columns={ df.columns[1]: "your value" }, inplace = True)
pbr_rawDF = pbr_rawDF.rename(columns={ pbr_rawDF.columns[3]: "unit" })

In [120]:
pbr_rawDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894240 entries, 0 to 894239
Data columns (total 30 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   trial_no     894240 non-null  int64
 1   primary_key  894240 non-null  int64
 2   _timeString  894240 non-null  object
 3   unit         894240 non-null  object
 4   FT1          894240 non-null  object
 5   FT2          894240 non-null  object
 6   PT1_V4       894240 non-null  object
 7   PT2          894240 non-null  object
 8   FT3          894240 non-null  object
 9   CO2in        894240 non-null  object
 10  CO2_V2       894240 non-null  object
 11  CO2sys       894240 non-null  object
 12  LT1          894240 non-null  object
 13  LReactor     894240 non-null  object
 14  C_g          894240 non-null  object
 15  C_Eff        894240 non-null  object
 16  C_CD         894240 non-null  object
 17  T_CD         894240 non-null  object
 18  C_D_g        894240 non-null  object
 19  C_D_Eff      894240 non-null  object
 20  QT           894240 non-null  object
 21  QC           894240 non-null  object
 22  QB           894240 non-null  object
 23  QR           894240 non-null  object
 24  QG           894240 non-null  object
 25  QT_corr      894240 non-null  object
 26  TT0          894240 non-null  object
 27  TT1          894240 non-null  object
 28  pH           894240 non-null  object
 29  C_PAR        894240 non-null  object
dtypes: int64(2), object(28)
memory usage: 204.7+ MB

In [121]:
pbr_rawDF['PT1_V4'].value_counts(dropna= False).head(10)

Empty    4693
53.0      198
53.3      196
52.0      195
52.7      195
52.8      181
53.2      175
50.9      171
52.6      169
51.4      162
Name: PT1_V4, dtype: int64

In [122]:
pbr_rawDF.isin(['Empty']).sum(axis=0)

trial_no          0
primary_key       0
_timeString       0
unit              0
FT1            4705
FT2            4705
PT1_V4         4693
PT2            4705
FT3            4705
CO2in          4693
CO2_V2         4693
CO2sys         4693
LT1            4693
LReactor       4693
C_g            4693
C_Eff          4693
C_CD           4693
T_CD           4693
C_D_g          4693
C_D_Eff        4693
QT             4705
QC             4705
QB             4705
QR             4705
QG             4705
QT_corr        4693
TT0            4705
TT1            4705
pH             4705
C_PAR          4693
dtype: int64

In [123]:
#pbr_rawDF = pbr_rawDF.replace('Empty', pd.np.nan).fillna(method ='pad')
#is_C_block = df['value'].replace('0', pd.np.nan).fillna(method='ffill') == 'C'
pbr_tmp1 = pbr_rawDF.replace('Empty', pd.np.nan)

In [124]:
pbr_tmp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894240 entries, 0 to 894239
Data columns (total 30 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   trial_no     894240 non-null  int64
 1   primary_key  894240 non-null  int64
 2   _timeString  894240 non-null  object
 3   unit         894240 non-null  object
 4   FT1          889535 non-null  object
 5   FT2          889535 non-null  object
 6   PT1_V4       889547 non-null  object
 7   PT2          889535 non-null  object
 8   FT3          889535 non-null  object
 9   CO2in        889547 non-null  object
 10  CO2_V2       889547 non-null  object
 11  CO2sys       889547 non-null  object
 12  LT1          889547 non-null  object
 13  LReactor     889547 non-null  object
 14  C_g          889547 non-null  object
 15  C_Eff        889547 non-null  object
 16  C_CD         889547 non-null  object
 17  T_CD         889547 non-null  object
 18  C_D_g        889547 non-null  object
 19  C_D_Eff      889547 non-null  object
 20  QT           889535 non-null  object
 21  QC           889535 non-null  object
 22  QB           889535 non-null  object
 23  QR           889535 non-null  object
 24  QG           889535 non-null  object
 25  QT_corr      889547 non-null  object
 26  TT0          889535 non-null  object
 27  TT1          889535 non-null  object
 28  pH           889535 non-null  object
 29  C_PAR        889547 non-null  object
dtypes: int64(2), object(28)
memory usage: 204.7+ MB

In [125]:
pbr_tmp1.isna().sum()

trial_no          0
primary_key       0
_timeString       0
unit              0
FT1            4705
FT2            4705
PT1_V4         4693
PT2            4705
FT3            4705
CO2in          4693
CO2_V2         4693
CO2sys         4693
LT1            4693
LReactor       4693
C_g            4693
C_Eff          4693
C_CD           4693
T_CD           4693
C_D_g          4693
C_D_Eff        4693
QT             4705
QC             4705
QB             4705
QR             4705
QG             4705
QT_corr        4693
TT0            4705
TT1            4705
pH             4705
C_PAR          4693
dtype: int64

In [126]:
pbr_tmp2 = pbr_tmp1[pbr_tmp1.isnull().sum(axis=1) < 15]

In [127]:
pbr_tmp2.isna().sum()

trial_no        0
primary_key     0
_timeString     0
unit            0
FT1            12
FT2            12
PT1_V4          0
PT2            12
FT3            12
CO2in           0
CO2_V2          0
CO2sys          0
LT1             0
LReactor        0
C_g             0
C_Eff           0
C_CD            0
T_CD            0
C_D_g           0
C_D_Eff         0
QT             12
QC             12
QB             12
QR             12
QG             12
QT_corr         0
TT0            12
TT1            12
pH             12
C_PAR           0
dtype: int64

In [128]:
pbr_tmp2= pbr_tmp2.fillna(method ='pad')

In [129]:
pbr_tmp2.isna().sum()

trial_no       0
primary_key    0
_timeString    0
unit           0
FT1            0
FT2            0
PT1_V4         0
PT2            0
FT3            0
CO2in          0
CO2_V2         0
CO2sys         0
LT1            0
LReactor       0
C_g            0
C_Eff          0
C_CD           0
T_CD           0
C_D_g          0
C_D_Eff        0
QT             0
QC             0
QB             0
QR             0
QG             0
QT_corr        0
TT0            0
TT1            0
pH             0
C_PAR          0
dtype: int64

In [131]:
pbr_tmp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889547 entries, 0 to 894239
Data columns (total 30 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   trial_no     889547 non-null  int64
 1   primary_key  889547 non-null  int64
 2   _timeString  889547 non-null  object
 3   unit         889547 non-null  object
 4   FT1          889547 non-null  object
 5   FT2          889547 non-null  object
 6   PT1_V4       889547 non-null  object
 7   PT2          889547 non-null  object
 8   FT3          889547 non-null  object
 9   CO2in        889547 non-null  object
 10  CO2_V2       889547 non-null  object
 11  CO2sys       889547 non-null  object
 12  LT1          889547 non-null  object
 13  LReactor     889547 non-null  object
 14  C_g          889547 non-null  object
 15  C_Eff        889547 non-null  object
 16  C_CD         889547 non-null  object
 17  T_CD         889547 non-null  object
 18  C_D_g        889547 non-null  object
 19  C_D_Eff      889547 non-null  object
 20  QT           889547 non-null  object
 21  QC           889547 non-null  object
 22  QB           889547 non-null  object
 23  QR           889547 non-null  object
 24  QG           889547 non-null  object
 25  QT_corr      889547 non-null  object
 26  TT0          889547 non-null  object
 27  TT1          889547 non-null  object
 28  pH           889547 non-null  object
 29  C_PAR        889547 non-null  object
dtypes: int64(2), object(28)
memory usage: 210.4+ MB

In [132]:
pbr_tmp2.columns

Index(['trial_no', 'primary_key', '_timeString', 'unit', 'FT1', 'FT2',
       'PT1_V4', 'PT2', 'FT3', 'CO2in', 'CO2_V2', 'CO2sys', 'LT1', 'LReactor',
       'C_g', 'C_Eff', 'C_CD', 'T_CD', 'C_D_g', 'C_D_Eff', 'QT', 'QC', 'QB',
       'QR', 'QG', 'QT_corr', 'TT0', 'TT1', 'pH', 'C_PAR'],
      dtype='object')

In [135]:
pbr_tmp3=pbr_tmp2.astype({'primary_key':'int64', '_timeString':'datetime64[ns]', 'unit':'category', 'FT1':'float32', 'FT2':'float32', 'PT1_V4':'float32',
                            'PT2':'float32', 'FT3':'float32', 'CO2in':'float32', 'CO2_V2':'float32', 'CO2sys':'float32', 'LT1':'float32', 'LReactor':'float32',
                            'C_g':'float32', 'C_Eff':'float32', 'C_CD':'float32', 'T_CD':'float32', 'C_D_g':'float32', 'C_D_Eff':'float32', 'QT':'float32',
                            'QC':'float32', 'QB':'float32', 'QR':'float32', 'QG':'float32', 'QT_corr':'float32', 'TT0':'float32', 'TT1':'float32', 'pH':'float32',
                            'C_PAR':'float32'})

In [136]:
pbr_tmp3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889547 entries, 0 to 894239
Data columns (total 30 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   trial_no     889547 non-null  int64
 1   primary_key  889547 non-null  int64
 2   _timeString  889547 non-null  datetime64[ns]
 3   unit         889547 non-null  category
 4   FT1          889547 non-null  float32
 5   FT2          889547 non-null  float32
 6   PT1_V4       889547 non-null  float32
 7   PT2          889547 non-null  float32
 8   FT3          889547 non-null  float32
 9   CO2in        889547 non-null  float32
 10  CO2_V2       889547 non-null  float32
 11  CO2sys       889547 non-null  float32
 12  LT1          889547 non-null  float32
 13  LReactor     889547 non-null  float32
 14  C_g          889547 non-null  float32
 15  C_Eff        889547 non-null  float32
 16  C_CD         889547 non-null  float32
 17  T_CD         889547 non-null  float32
 18  C_D_g        889547 non-null  float32
 19  C_D_Eff      889547 non-null  float32
 20  QT           889547 non-null  float32
 21  QC           889547 non-null  float32
 22  QB           889547 non-null  float32
 23  QR           889547 non-null  float32
 24  QG           889547 non-null  float32
 25  QT_corr      889547 non-null  float32
 26  TT0          889547 non-null  float32
 27  TT1          889547 non-null  float32
 28  pH           889547 non-null  float32
 29  C_PAR        889547 non-null  float32
dtypes: category(1), datetime64[ns](1), float32(26), int64(2)
memory usage: 116.2 MB

In [137]:
pbr_tmp3.describe(include=['object', 'int', 'float32'])

,trial_no,primary_key,FT1,FT2,PT1_V4,PT2,FT3,CO2in,CO2_V2,CO2sys,...,QT,QC,QB,QR,QG,QT_corr,TT0,TT1,pH,C_PAR
count,889547.0,8.895470e+05,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000,...,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000,889547.000000
mean,1.0,1.631696e+09,29.266045,22.350338,78.952675,178.391418,0.626141,5.835946,1.057727,2.358378,...,76.643463,0.095887,0.015894,0.033935,0.010833,-178.080246,20.246571,19.275200,14.912597,149.682648
std,0.0,1.289315e+06,73.247002,7.767126,11.505660,69.617401,1.211694,9.424174,0.249748,2.120918,...,0.306280,0.093134,0.036158,0.052671,0.032992,7.137878,0.808770,0.892130,0.028852,155.575607
min,1.0,1.629468e+09,0.000000,0.000000,-15.574400,0.265500,0.000000,0.040000,0.260900,0.040000,...,75.888702,0.000000,0.000000,0.000000,0.000000,-190.501801,16.188999,14.968600,11.002300,0.000000
25%,1.0,1.630580e+09,0.014600,24.106701,80.005600,137.028351,0.000000,0.256300,0.990700,0.915100,...,76.399399,0.000000,0.000000,0.000000,0.000000,-184.215805,19.676850,18.677700,14.900000,34.904999
50%,1.0,1.631692e+09,1.210400,24.950600,81.301804,162.285599,0.000000,2.242700,1.001800,1.564200,...,76.602501,0.097700,0.000000,0.000000,0.000000,-178.059998,20.299999,19.315001,14.900300,46.540001
75%,1.0,1.632804e+09,10.508400,25.201599,84.191299,182.607452,0.700300,8.168700,1.021000,2.963500,...,76.855797,0.097700,0.000000,0.097700,0.000000,-171.904205,20.616899,19.652300,14.918000,349.049988
max,1.0,1.633939e+09,440.271606,38.706200,161.632599,406.091797,40.862301,99.979401,6.624000,10.437400,...,77.632698,0.971700,0.270300,0.412500,0.293000,-165.748398,22.510700,24.369301,15.000000,472.570007